<header role="banner" class="probootstrap-header">
  <div class="row">/
    <a href="#" class="probootstrap-logo visible-xs"><img src="../../assets/img/logo_sm.png" class="hires" width="120" height="33" alt="Free Bootstrap Template by uicookies.com"></a>

    <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
    <div class="mobile-menu-overlay"></div>

    <nav role="navigation" class="probootstrap-nav hidden-xs">
      <ul class="probootstrap-main-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a>About</a></li>
        <li><a>Our Rooms</a></li>
        <li class="hidden-xs probootstrap-logo-center"><a><img src="../../assets/img/logo_md.png" class="hires" width="181" height="50" alt="Free Bootstrap Template by uicookies.com"></a></li>
        <li><a>Reservation</a></li>
        <!-- <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li> -->
      
     <!-- <ul *ngIf="!userLoggedIn" class="nav navbar-nav navbar-right">      -->
        <li *ngIf="!userLoggedIn"><a routerLink="/register">Register</a></li>
        <li *ngIf="!userLoggedIn"><a routerLink="/login">Login</a></li>
      <!--</ul> -->
           
        <li *ngIf="userLoggedIn"><a routerLink="/logout">Hi, {{user}}, logout</a></li>
      </ul>
    </nav>
  </div>
</header>
