*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml


.DS_STORE

/dist/
bazel-*
e2e_test.*
node_modules
bower_components
tools/gulp-tasks/cldr/cldr-data/
frontend/package-lock.json
frontend/package-lock.json
frontend/package.json
frontend/package.json
frontend/package-lock.json
frontend/package.json
