<section class="probootstrap-section">
  <div class="container">
    <div class="row probootstrap-gutter40">
      <div class="col-md-8">
        <h2 class="mt0">Search Form</h2>
        <form novalidate #f="ngForm" (ngSubmit)="searchForFreeRooms(f)" class="probootstrap-form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Arrival</label>
                <div class="form-field">
                  
                  <input type="date" class="form-control"
                  name="startDate"
                  [(ngModel)]="startDate"
                  #userStartDate="ngModel"       
                  required>
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="userStartDate.errors?.required && userStartDate.touched">
                You must specify arrival date.
            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Departure</label>
                <div class="form-field">
                  <input type="date" class="form-control" 
                  name="endDate"
                  [(ngModel)]="endDate"
                  #userEndDate="ngModel"       
                  required
                 >
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="userEndDate.errors?.required && userEndDate.touched">
                You must specify departure date.
            </div>
            </div>
          </div>
          <div class="row mb30">
            <div class="col-md-6">
              <div class="form-group">
                <label for="guests">Guests</label>
                <div class="form-field">
                  <input type="number" name="guests" id="guests" class="form-control" min="1" max="50"
                  [(ngModel)]="guests"
                  #userGuests="ngModel"       
                  required>
                </div>
              </div>

              <div class="alert alert-danger" *ngIf="userGuests.errors?.required && userGuests.touched">
                You must specify number of guests.
            </div>
            </div>
          </div>

          <div class="row mb30">
            <div class="col-md-6">
              <div class="form-group">
                <label for="userId">Client</label>
                <div class="form-field">
                  <select name="userId" id="userId" class="form-control" [(ngModel)]="selectedUser">
                    <option *ngFor="let clientDetail of clientsDetails" [value]="clientDetail.userId">{{clientDetail.nameAndSurname}}</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Search" (click)="showTable()">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <form novalidate #f="ngForm" (ngSubmit)="reserveRooms(f)"> -->
    
<table id="roomsTable" class="table" *ngIf="isTableShown">
    
  <tr bgcolor="#f9f9f9">
      <th>Name</th>
      <th>Price</th>
      <th>Season price</th>
      <th>Beds</th>
      <th>Extra paid days</th>
      <th>Normal paid days</th>
      <th>Id </th>
  </tr>
 
   
  <tr *ngFor="let room of availRooms; let i = index">
    <!-- <a type="hidden">{{i+1}}</a> -->
    <input type=hidden name={{i+1}} value={{i+1}}>
      <td>
        <!-- <input type="checkbox" name="tc"  [(ngModel)]="aaa">   -->
        <a (click)="addRoomReservation(room.id, i)" >Add</a> {{room?.name}}
      </td>
      <td>
         {{ room?.pricePerNightWithoutSeasoningSystem }}
     </td>
     <td>
     {{ room?.pricePerNightWithSeasoningSystem }}
  </td>
     <td>
        {{ room?.beds }}
     </td>
     <td>
      {{ room?.extraPaidDays }}
   </td>
   <td>
    {{ room?.normalPaidDays }}
 </td>  
 <td>
    {{ room?.id }}
 </td>       
  </tr>
</table>

<button  id="makeReservationButton" type="button" *ngIf="isTableShown" (click)="makeReservation()"> Make reservation</button>

<button id="roomsTableButton" type="button" *ngIf="isTableShown" (click)="hideTable()"> Hide information about available rooms</button>
<div class="alert alert-success" *ngIf="successMsg">
  <p>Reservation was made.</p>
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
  <p>Error while making a reservation.</p>
</div>
