#roomsTable {
  height: 200px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #E6E6FA;

}

#roomsTableButton {

  border-style: solid;

  background-color: rgb(50, 50, 209);
  color: white;
}

#makeReservationButton {
  margin-left: 15%;
  border-style: solid;
  background-color: rgb(50, 50, 209);
  color: white;

}
