#roomsTable{
  height: 200px;
  width: 440px;
  margin-left: 500px;
  background-color: #E6E6FA;
}

#roomsTableButton{

    border-style: solid;
    
    background-color: rgb(50, 50, 209);
    color: white;
  }

  #makeReservationButton{
    margin-left: 500px;
    border-style: solid;
    background-color: rgb(50, 50, 209);
    color: white;

  }