<nav class="navbar navbar-inverse admin">
  <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">           
          <li id="adminClients" class="d-inline-block"><a routerLink="admin/clients">Clients</a></li>
          <li id="adminEmployees" class="d-inline-block"><a routerLink="admin/employees">Employess</a></li>
          <li id="adminRooms" class="d-inline-block" ><a routerLink="admin/rooms">Rooms</a></li>
          <li id="adminPrices" class="d-inline-block"><a routerLink="admin/prices">Prices</a></li>
      </ul>
  </div>
</nav>