<section class="probootstrap-section">
  <div class="container">
    <div class="row probootstrap-gutter40">
      <div class="col-md-8">
        <h2 class="mt0">Search Form</h2>
        <form novalidate #f="ngForm" (ngSubmit)="searchForFreeRooms(f)" class="probootstrap-form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="date-arrival">Arrival</label>
                <div class="form-field">
                  
                  <input type="date" class="form-control"
                  name="arrival"
                  [(ngModel)]="arrival"
                  #userArrival="ngModel"       
                  required>
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="userArrival.errors?.required && userArrival.touched">
                You must specify arrival date.
            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="date-departure">Departure</label>
                <div class="form-field">
                  <input type="date" class="form-control" 
                  name="departure"
                  [(ngModel)]="departure"
                  #userDeparture="ngModel"       
                  required
                 >
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="userDeparture.errors?.required && userDeparture.touched">
                You must specify departure date.
            </div>
            </div>
          </div>
          <div class="row mb30">
            <div class="col-md-6">
              <div class="form-group">
                <label for="guests">Guests</label>
                <div class="form-field">
                  <input type="number" name="guests" id="guests" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Search">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
