<div class="alert alert-success" *ngIf="successMsg">
  <p>Season price added.</p>
</div>

<h1 class="page-title">Add a season price</h1>

<a class="btn btn-primary" routerLink="/admin/prices">Back to all season prices</a>

<section class="probootstrap-section">
<form  novalidate #f="ngForm"  (ngSubmit)="addAPrice(f)"  class="probootstrap-form">

    <div class="form-group">
        <label for="price-from">From</label>
        <div class="form-field">
          <input type="date" class="form-control" id="priceFrom" placeholder="np. 11/23/2018" name="startDate"
          [(ngModel)]="startDate"  
          #priceFrom="ngModel" 
          required />
        </div>
    </div>
    <div class="form-group">
        <label for="price-to">To</label>
        <div class="form-field">
          <input type="date" class="form-control" id="priceTo"  placeholder="np. 11/23/2018" name="endDate"
          [(ngModel)]="endDate"  
          #priceTo="ngModel" 
          required 
          />
        </div>
    </div>
  
    

  <!--    ------------------------------------------    percentage -->
  <div class="form-group">
      <label for="">Percent of normal price:</label>
      <input type="number" class="form-control" placeholder="Percent of normal price" name="percentage" 
      [(ngModel)]="percentage"  
      #pricePercent="ngModel" 
      required 
      />      
  </div>

  <div class="alert alert-danger" *ngIf="pricePercent.errors?.required && pricePercent.touched">
      Percent is required.
  </div>

  <!--    ------------------------------------------    name -->
  <div class="form-group">

    <label for="">Description:</label>
        <input type="text" class="form-control" placeholder="Description" name="name" 
        [(ngModel)]="name"
        #priceName="ngModel"
        minlength="3"
        required
    />
  </div>

  <div class="alert alert-danger" *ngIf="priceName.errors?.required && priceName.touched">
    Description is required.
</div>
<div class="alert alert-danger" *ngIf="priceName.errors?.minlength && priceName.touched">
    Minimum length is 3.
</div>

<div class="form-group">
  <button class="btn btn-default" [disabled]="!f.valid">Add new season price</button>
</div>


</form>
</section>

