<div class="alert alert-success" *ngIf="successMsg">
  <p>Reservation deleted.</p>
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
  <p>Error deleting a resrvation.</p>
</div>

<h1 class="product-title">My Reservations</h1>
<a class="btn btn-primary" routerLink="">Add reservation</a>


<table class="table">
  <tr bgcolor="#f9f9f9">

    <th>Reservation id</th>
    <th>From</th>
    <th>To</th>
    <th>Payed</th>
    <th>Total cost</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let reservation of reservations">

    <td>
      {{ reservation.id }}
    </td>
    <td>
      {{reservation.startDate }}
    </td>
    <td>
      {{ reservation.endDate }}
    </td>
    <td>
      {{ reservation.payed }}
    </td>
    <td>
      {{reservation.totalPrice}}
    </td>

    <td>
      <a (click)="deleteReservation(reservation.id)" routerLink="/admin/reservations">Delete</a>
    </td>
  </tr>
</table>
