<div class="alert alert-success" *ngIf="successMsg">
  <p>Reservation deleted.</p>
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
  <p>Error deleting a reservation.</p>
</div>

<h1 class="product-title">My Reservations</h1>
<table class="table">
  <tr bgcolor="#f9f9f9">

    <th>Reservation id</th>
    <th>From</th>
    <th>To</th>
    <th>Total cost</th>
    <th>Payed</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let reservation of reservations">

    <td>
      {{ reservation.id }}
    </td>
    <td>
      {{reservation.startDate }}
    </td>
    <td>
      {{ reservation.endDate }}
    </td>
    <td>
      {{reservation.totalPrice}}
    </td>
    <td>
      {{ reservation.payed }}
    </td>
   
    <td *ngIf="reservation.startDate > date">
      <a (click)="deleteReservation(reservation.id)" routerLink="/clientProfile/reservations">Resign</a>
    </td>
    <td *ngIf="reservation.startDate < date">
      <span> Resigning unavailable</span>
    </td>
  </tr>
 
</table>
