<section class="probootstrap-section probootstrap-section-dark">
  <div class="container">
    <div class="row mb30">
      <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
        <h2>Search results</h2>
        <p class="lead">Select room and reserve</p>
        <p><img src="../../assets/img/curve.svg" class="svg" alt="Free HTML5 Bootstrap Template"></p>
      </div>
    </div>
    <div class="row probootstrap-gutter10">
      <div class="col-md-6">
        <div class="probootstrap-block-image-text">
          <figure>
            <a class="image-popup">
              <img src="../../assets/img/img_1.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com"
                   class="img-responsive">
            </a>
          </figure>
          <div class="text">
            <h3><a>Grand Deluxe Room</a></h3>
            <div class="post-meta">
              <ul>
                <li><i class="icon-user2"></i> 3 Guests</li>
              </ul>
            </div>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.</p>
            <p><a href="#" class="btn btn-primary">Book now from $109</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="probootstrap-block-image-text">
          <figure>
            <a class="image-popup">
              <img src="../../assets/img/img_2.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com"
                   class="img-responsive">
            </a>
          </figure>
          <div class="text">
            <h3><a>Ultra Superior Room</a></h3>
            <div class="post-meta">
              <ul>
                <li><i class="icon-user2"></i> 3 Guests</li>
              </ul>
            </div>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.</p>
            <p><a href="#" class="btn btn-primary">Book now from $109</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
