<div class="alert alert-success" *ngIf="successMsg">
  <p>Employee deleted.</p>
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
  <p>Error deleting a seazon price.</p>
</div>

<h1 class="product-title">Season Prices</h1>
<a class="btn btn-primary" routerLink="/admin/add-price">Add a season price</a>
<br><br>

<table class="table">
  <tr bgcolor="#f9f9f9">
      <th>Name</th>
      <th>From</th>
      <th>To</th>
      <th>Percent of original price</th>
      <th>Action</th>
  </tr>

  <tr *ngFor="let price of prices?.value">
      <td>
          {{ price.name }}
      </td>
    
    <td>
        {{ price.startDate }}
  </td>
    <td>
        {{ price.endDate }}
      </td>
      <td>
        {{ price.percentage }}
  </td>
     
      <td>
          <a (click)="deletePrice(price.id)" routerLink="/admin/prices">Delete</a>
      </td>
  </tr>
</table>
